# Turn rewrite engine on
#Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^start$   RestController.php [nc]
RewriteRule ^start/$   RestController.php [nc]
RewriteRule ^piatti/listaCompleta$   RestController.php?view=plates [nc]
RewriteRule ^piatti/([0-9]+)$   RestController.php?view=singlePlate&id=$1 [nc]
RewriteRule ^bevande/listaCompleta$   RestController.php?view=drinks [nc]
RewriteRule ^bevande/([0-9]+)$   RestController.php?view=singleDrink&id=$1 [nc]
RewriteRule ^piatti/listaCompleta/$   RestController.php?view=plates [nc]
RewriteRule ^piatti/([0-9]+)/$   RestController.php?view=singlePlate&id=$1 [nc]
RewriteRule ^bevande/listaCompleta/$   RestController.php?view=drinks [nc]
RewriteRule ^bevande/([0-9]+)/$   RestController.php?view=singleDrink&id=$1 [nc]
