# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^start/$   RestController.php [nc,qsa]
RewriteRule ^piatti/listaCompleta/$   RestController.php?view=plates [nc,qsa]
RewriteRule ^piatti/lista/([0-9]+)/$   RestController.php?view=singlePlate&id=$1 [nc,qsa]
RewriteRule ^bevande/listaCompleta/$   RestController.php?view=drinks [nc,qsa]
RewriteRule ^bevande/lista/([0-9]+)/$   RestController.php?view=singleDrink&id=$1 [nc,qsa]